/.gradle
/*.pyc
*/bin
*/bin-test
**/build
*/.classpath
*/.gradle
*/.idea
*/.project
*/.settings
.idea
*/out
*.iml
/local.properties
/appMobile/newrelic.properties
/appTv/newrelic.properties
.DS_STORE
**/captures